---
import "../styles/global.css";
import '@fontsource-variable/onest';

import { basics } from "@/data/cv.json";
interface Props {
	title: string;
}

const { title } = Astro.props;

const { image, summary, url, theme } = basics;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<title>Portafolio de Raul Quimbaya - Desarrollador y Programador Web</title>
		<meta name="description" content={summary} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preload" as="image" href={image} />

		<meta property="og:url" content={url} />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={summary} />
		<meta property="og:image" content="" />

		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Itim" />
	</head>
	<body data-theme={theme} class="relative bg-skin-fill">
		<div class="absolute top-0 -z-10 h-full w-full print:hidden">
			<div class="bg-[rgb(var(--color))]/15 bottom-auto left-[20%] right-auto top-0 h-[200px] w-[200px] -translate-x-[20%] translate-y-[30%] rounded-full blur-[80px] invert-0 absolute md:fixed"></div>
		</div>
		<slot />
	</body>
</html>

<style is:global>
  @reference "../styles/global.css";

  body,
  figure {
    margin: 0;
    padding: 0;
    font-family: 'Onest Variable', sans-serif;
  }

  a {
    text-decoration: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4 {
    @apply text-skin-base;
  }

  p {
    @apply text-sm;
    line-height: 1.5;
    text-wrap: pretty;
  }

  .print {
    display: none !important;
  }

  .dev * {
    @apply border border-red-500/50 bg-red-500/5;
  }
  #hotkeypad [data-backdrop] {
    @apply !bg-zinc-800 !opacity-80;
  }

  @media print {
    .no-print {
      display: none !important;
    }

    .print {
      display: block !important;
    }

    astro-dev-toolbar {
      display: none !important;
    }

    article {
      break-inside: avoid;
    }
  }
</style>
